<!DOCTYPE html>

<html lang="pt-br">

<head>
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/92ee4dadad.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShoesCommerce</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
  </style>
</head>

<body>
  <div>
    <header class="row">
      <div>
        <img class="menu-icon" src="assets/menu.png" alt="Menu Icon" width="20px">
        <a class="brand" href="index.html">ShoesCommerce</a>
      </div>
      <div class="input">
        <div class="search-icon-box"><i class="fas fa-search"></i></div>
        <input class="search-input" placeholder="Search for a product..." type="text" />
      </div>
      <div>
        <div class="signin">
          <a class="sign-in-option" href="signin.html">Sign In <i class="fas fa-sort-down"></i></a>
        </div>
        <div class="cart">
          <a href="cart.html">
            <img class="cart-icon" src="assets/cart.png" alt="Cart Icon" width="55px">
          </a>
          <span class="cart-items-circle">
            <p>2</p>
          </span>
      </div>
      </div>
    </header>

    <div class="main-banner">
        
    </div>

    <main>
      <div class="main-wrapper">
        <div class="row center">
          <div class="card">
            <a href="product.html">
              <!-- image size: 300px by 350px -->
              <img class="medium" src="assets/product-1.png" alt="product" width="250px" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h3>Adidas Sneakers Black</h3>
              </a>
              <div class="text">
                <p>Sneakers Nike color black extremely comfortable.</p>
              </div>
              <div class="row">
                <div class="price">
                  <h2>$120.90</h2>
                </div>
                <div class="rating">
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star-half-alt"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size: 300px by 350px -->
              <img class="medium" src="assets/nike-white.png" alt="product" width="250px" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h3>White Nike Sneakers</h3>
              </a>
              <div class="text">
                <p>Sneakers Nike color black extremely comfortable.</p>
              </div>
              <div class="row">
                <div class="price">
                  <h2>$120.90</h2>
                </div>
                <div class="rating">
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size: 300px by 350px -->
              <img class="medium" src="assets/nike-black.png" alt="product" width="250px" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h3>Nike Shoes</h3>
              </a>
              <div class="text">
                <p>Sneakers Nike color black extremely comfortable.</p>
              </div>
              <div class="row">
                <div class="price">
                  <h2>$120.90</h2>
                </div>
                <div class="rating">
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>



          <div class="card">
            <a href="product.html">
              <!-- image size: 300px by 350px -->
              <img class="medium" src="assets/product-1.png" alt="product" width="250px" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h3>Adidas Shoes</h3>
              </a>
              <div class="text">
                <p>Sneakers Nike color black extremely comfortable.</p>
              </div>
              <div class="row">
                <div class="price">
                  <h2>$120.90</h2>
                </div>
                <div class="rating">
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star-half-alt"></i>
                  </span>
                  <span>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size: 300px by 350px -->
              <img class="medium" src="assets/product-1.png" alt="product" width="250px" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h3>Adidas Shoes</h3>
              </a>
              <div class="text">
                <p>Sneakers Nike color black extremely comfortable.</p>
              </div>
              <div class="row">
                <div class="price">
                  <h2>$120.90</h2>
                </div>
                <div class="rating">
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <a href="product.html">
              <!-- image size: 300px by 350px -->
              <img class="medium" src="assets/product-1.png" alt="product" width="250px" />
            </a>
            <div class="card-body">
              <a href="product.html">
                <h3>Adidas Shoes</h3>
              </a>
              <div class="text">
                <p>Sneakers Nike color black extremely comfortable.</p>
              </div>
              <div class="row">
                <div class="price">
                  <h2>$120.90</h2>
                </div>
                <div class="rating">
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star"></i>
                  </span>
                  <span>
                    <i class="fa fa-star-o"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </main>

    <footer class="row center">
      <p class="credits">
        Designed and Developed with ❤️ by <a target="_blank" href="https://github.com/ofernandopro">Fernando Moreira</a>.
      </p>
    </footer>
  </div>
</body>

</html>