main {
  background-color: #ffffff;
  margin-top: -40px;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1100px;
}


/* Card */

.card img {
  border-radius: 0.5rem;
}

.card img.medium {
  max-width: 240px;
  width: 100%;
}

.card {
  padding: 20px 50px;
  text-align: left;
  margin-bottom: 35px;
  margin-bottom: 10px;
}

.card-body a {
  color: #000;
  text-decoration: none;
}

.card-body h3 {
  font-size: 20px;
  font-weight: 500;
}

.card-body p {
  max-width: 240px;
  font-size: 15px;
  color: #808080;
  font-weight: 300;
  margin-bottom: -7px;
  margin-top: -10px;
}

.card-body h2 {
  font-size: 20px;
}

.card .row {
  margin-bottom: 30px;
}