.main-banner {
  width: 100%;
  height: 650px;
  margin-top: -125px;
  background-color: #ffffff;
  background-image: url('../../assets/nike-ads.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}