html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 16px;
  padding-top: 94px;
  background-color: #ffffff;
  font-family: 'Poppins', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #000000;
}

::selection {
  color: #ffffff;
  background: #000000;
}

#root {
  height: 100%;
}

/* Layout */



.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.back-to-result-link i {
  margin: 30px 7px 0 30px;
  color: #aaaaaa;
}
.back-to-result-link p {
  display: inline-block;
  color: #aaaaaa;
  text-decoration: underline;
}

.pruduct-main-page {
  padding: 20px 80px 80px 80px;
  background-color: #ffffff;
}

/*
.col-1 {
  flex: 1 1 350px;
}*/

/*
.col-2 {
  flex: 2 1 450px;
}*/

.pruduct-main-page ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.pruduct-main-page li {
  margin-top: 10px;
}

.col-2 {
  padding: 20px 0px 0px 60px;
}
.col-2 img {
  width: 350px;
  border-radius: 5px;
}

.product-details {
  max-width: 400px;
}

.product-details .description {
  margin-top: 20px;
}

.product-details .description h3 {
  font-weight: 500;
  font-size: 17px;
}

.product-details .description p {
  color: gray;
  margin-left: 7px;
}

.product-details .details-price h3 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 17px;
}

.product-details .details-price p {
  color: gray;
  margin-left: 7px;
}

.col-1 .card-body {
  padding: 20px 30px 40px 30px;
  box-shadow: 0px 10px 30px #dddddd;
  border-radius: 10px;
  width: 250px;
}

.row-rating,
.qnt-reviews,
.rating {
  display: inline-block;
}

.qnt-reviews {
  margin-left: 5px;
}

.details-name h1 {
  margin-top: -7px;
}

.col-1 .card-body ul li {
  margin-bottom: -10px;
}

.col-1 .description-text {
  color: gray;
}

.col-1 .box-price {
  padding: 15px 0px;
  background-color: #000000;
  width: 30%;
  color: #ffffff;
  font-weight: 300;
  font-size: 15px;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.col-1 .box-price span {
  margin-left: 20px;
}

.card-body button {
  padding: 15px 20px 15px 50px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 25px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  border: 0;
  width: 70%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.card-body .box-price {
  margin-top: 25px;
}

.select-qnt {
  padding: 7px;
}

.reviews-section {
  padding: 50px;
}

/* Alert */

.success {
  color: #20a202;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 10px;
  border: 1px solid transparent;
  border: 5px;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: 600;
}
.alert-danger i {
  margin-right: 10px;

}
.alert-danger p {
  display: inline-block;
}
.white-space-30{
  padding: 30px 0;
  width: 100%;
  background-color: #ffffff;
}

.loading-box {
  display: block !important;
  background-color: #ffffff;
}


/* Card: */

img.small {
  max-width: 70px;
  width: 100%;
}

.min-30 {
  min-width: 300px;
}

.pruduct-main-page h1.shopping-cart-h1 {
  margin-bottom: 40px;
}

.cart-select select {
  padding: 7px;
}

.cart-section-price {
  padding: 10px 50px;
}

.cart-section-button button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #a39595;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}

.cart-product-name {
  padding: 20px 30px;
}

.section-card-body-cart {
  padding: 50px 10px;
}

.card-body-cart {
  padding: 20px 40px 50px 40px;
  box-shadow: 0px 10px 30px #dddddd;
  border-radius: 10px;
  width: 250px;
}

.card-body-cart h3 {
  margin-bottom: 30px;
  font-size: 25px;
}
.card-body-cart p > b {
  color: #20a202;
  font-size: 20px;
}

button.proceed-checkout-button {
  width: 100%;
  padding: 3px 20px;
  background-color: #000000;
  margin-top: 20px;
  border-radius: 5px;
  color: #ffffff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  border: 0;
}

button.proceed-checkout-button p {
  display: inline-block;
  color: #ffffff;
}

button.proceed-checkout-button i {
  margin-left: 5px;
  display: inline-block;
}
button.proceed-checkout-button:hover i {
  margin-left: 10px;
  transition: all ease 0.5s;
}
button.proceed-checkout-button:hover p {
  margin-left: 5px;
  transition: all ease 0.5s;
}


/* Signin Screen: */

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 30px 50px 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px #dddddd;
}

.form > div,
.form-shipping > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.form label,
.form-shipping label {
  margin: 10px 0;
}

.form input,
.form-shipping input {
  padding: 10px;
  font-size: 15px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.form .message-box,
.form-shipping .message-box {
  margin-bottom: -40px;
}

.form button,
.form-shipping button {
  padding: 12px;
  font-size: 15px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #ffffff;
  background: linear-gradient(45deg, #000000, #454545);
  border: 0;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
}

/* Shipping Screen*/

.form-shipping {
  max-width: 70rem;
  margin: 0 auto;
  padding: 20px 30px 50px 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.form-shipping input {
  border: 1px solid #cccccc;
}

/* Payment Screen: */

input#stripe {
  margin-bottom: 30px;
}