header {
  background-color: #ffffff;
  padding: 20px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid black;
}

/* Header: */
header a {
  color: #000000;
  padding: 20px;
  text-decoration: none;
  font-weight: 600;
}

a.brand {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
}

.signin {
  display: inline-block;
}
a.sign-in-option {
  top: 0;
  margin-top: -20px;
  font-weight: 800;
}

.sign-in-option i {
  margin-left: 5px;
}

img.menu-icon {
  cursor: pointer;
  margin-bottom: -2px;
}

.input > img {
  z-index: 999;
}

.search-icon-box {
  display: inline-block;
  padding: 10px 17px;
  margin-right: -10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #fcc5f9;
  z-index: 999;
}
.search-icon-box i {
  font-size: 16px;
}

.search-input {
  background: linear-gradient(75deg, #fcc5f9 10%, #f6e0ff 90%);
  border: 0;
  padding: 13px 15px 12px 8px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 350px;
  color: #000000;
  font-size: 17px;
  margin-left: 0px;
  z-index: 99;
}

input.search-input:focus {
  outline-width: 0;
}

.search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  opacity: 1; /* Firefox */
  color: #202020;
}

.cart {
  display: inline-block;
  position: relative;
}

img.cart-icon {
  position: relative;
  margin-bottom: -10px;
  margin-right: -20px;
}

.cart-items-circle{
  display: inline-block;
  background-color: #7159C1;
  border-radius: 50%;
  /*max-height: 10px;*/
  margin-left: -23px;
  position: absolute;
  bottom: -5px;
  width: 10px;
  height: 10px;
  padding: 8px;
  color: #000;
  text-align: center;
  font: 16px Arial, sans-serif;
}
.cart-items-circle p{
  display: inline-block;
  color: #ffffff;
  margin-top: -10px !important;
  margin-bottom: 20px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 800;
}

/* Dropdown: */

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 150px;
  padding: 15px 3px;
  z-index: 1;
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  margin: 0;
  margin-top: 4px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown-content li {
  margin-bottom: 15px;
}

.dropdown-content li:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}